body{
    background-color: rgb(86, 86, 86);
}
.sec{
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.div1{
    width: 350px;
    height: 550px;
    border-radius: 20px;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
    
}
.div2{
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    display: flex;


}
.div3{
    width: 95%;
    height: 420px;
    border-radius: 20px;

}
.div4{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;

}
.input1{
    width: 300px;
    height: 60px;
    border-radius: 15px;
    font-size: 2rem;
    border: none;
    background-color: rgb(38, 37, 37);
    text-align: center;
    transition: all 0.3s ease;
    color: white;

}
.input1:focus{
    border-color: rgb(38, 37, 37);
    box-shadow: 0 0 10px rgba(48, 163, 230, 0.5);
    transform: scale(1.03);
}
.mod{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 2rem;
    
}
.mar-l{
    margin-left: 5px;
}
.btn-op{
    background-color: rgb(255, 200, 0);
}
.btn-num{
    background-color: rgb(207, 206, 206);
}
.btn-op2{
    background-color: rgb(151, 150, 150);
}
.scale{
animation: scale 0.3s ease;
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
